section#banner {
    height: 350px;
}

.banner-image {
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-image-chim {
    background-image: url("../assets/img/banner-chim.png");
}

.banner-image-shop {
    background-image: url("../assets/img/banner-shop.png");
}

.banner-image-chai {
    background-image: url("../assets/img/banner-chai.png");
}

#banner-main {
    width: 280px;
    padding: 20px;
    margin: auto;
    vertical-align: middle;
}

@media (max-width: 769px) {
    #banner-main {
        width: 146px;
        height: 173px;
    }
}

@media (max-width: 577px) {
    #banner-main {
        width: 110px;
        height: 131px;
        padding: 0;
    }
}

#banner-main img {
    width: 100%;
    height: 100%;
}

@media (max-width: 769px) {
    .banner-image-chim,
    .banner-image-shop,
    .banner-image-chai {
        height: 242px;
    }
}

@media (max-width: 577px) {
    .banner-image-chim,
    .banner-image-shop,
    .banner-image-chai {
        height: 221px;
    }
}